<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control" #name>
            <input type="text" class="form-control" #address>
            <button class="btn btn-primary" (click) = "add()">Add</button>
            <button class="btn btn-danger" (click) = "delete()">Delete</button>            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" *ngFor="let d of data">
            <p>
                <strong> {{d.name}} </strong>
                <em>{{d.address}}</em>
            </p>            
        </div>
    </div>
</div>